version: '3'

volumes:
  redis_data_vol:
    external: false

services:

  redis:
    image: redis:alpine
    volumes:
      - redis_data_vol:/data
    ports:
      - 6379:6379
    stdin_open: true
    networks:
      overlay:
        aliases:
          - redis

  prerender:
    build: '.'
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
    env_file:
      - .docker-compose.env
    ports:
      - 3000:3000
    stdin_open: true
    networks:
      overlay:
        aliases:
          - prerender

networks:
  overlay:
    driver: bridge
